<%- include('includes/head.ejs')  %>

<%- include('includes/nav.ejs')  %>
<main>
    <% if (userss.length >0){  %>
    <h1>Lis Of users</h1>
    <ul>
        <% for (let use of userss){ %>
        <li><%= use.nama  %> </li>
        <% } %>
    </ul>
    <% } else { %>
    <h1>Not Found Users</h1>
    <% } %>
</main>
<%- include('includes/end.ejs')  %>