<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>

    <main>
        <% if (userss.length > 0) { %>
        <div>
            <% for (let users of userss){ %>

            <h1><%= users.nama  %> </h1>

            <% } %>
        </div>
        <% } else { %>
        <h1>No Products Found!</h1>
        <% } %>
    </main>
    <%- include('includes/end.ejs') %>