<%- include('includes/head.ejs')  %>

<%- include('includes/nav.ejs')  %>
<main>
    <form action="/users" method="POST">
        <label for="nama">User Name</label>
        <input type="text" name="nama">
        <button type="submit">Input User</button>
    </form>
</main>
<%- include('includes/end.ejs')  %>